<a href="https://colab.research.google.com/github/KathyZhang-upenn/CIS550-Project-NBA/blob/master/550project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data Wrangling
import pandas as pd 
import numpy as np

In [ ]:
url1 = 'https://github.com/KathyZhang-upenn/CIS550-Project-NBA/raw/master/teams.csv'
teams = pd.read_csv(url1)
teams = teams.drop(columns=['ARENACAPACITY'])
# teams.isna().any().any()
# group_teams = teams.groupby(["TEAM_ID"])
# counts7 = group_teams.size()
# print(counts7)
# (counts7 == 1).all()
teams

    LEAGUE_ID     TEAM_ID  ...         HEADCOACH                 DLEAGUEAFFILIATION
0           0  1610612737  ...      Lloyd Pierce                      Erie Bayhawks
1           0  1610612738  ...      Brad Stevens                    Maine Red Claws
2           0  1610612740  ...      Alvin Gentry                       No Affiliate
3           0  1610612741  ...        Jim Boylen                   Windy City Bulls
4           0  1610612742  ...     Rick Carlisle                      Texas Legends
5           0  1610612743  ...    Michael Malone                       No Affiliate
6           0  1610612745  ...     Mike D'Antoni           Rio Grande Valley Vipers
7           0  1610612746  ...        Doc Rivers  Agua Caliente Clippers of Ontario
8           0  1610612747  ...       Frank Vogel                   South Bay Lakers
9           0  1610612748  ...    Erik Spoelstra               Sioux Falls Skyforce
10          0  1610612749  ...  Mike Budenholzer                     Wisconsin Herd
11          0  1610612750  ...     Ryan Saunders                        Iowa Wolves
12          0  1610612751  ...    Kenny Atkinson                   Long Island Nets
13          0  1610612752  ...     David Fizdale                 Westchester Knicks
14          0  1610612753  ...    Steve Clifford                     Lakeland Magic
15          0  1610612754  ...     Nate McMillan                Fort Wayne Mad Ants
16          0  1610612755  ...       Brett Brown                Delaware Blue Coats
17          0  1610612756  ...    Monty Williams              Northern Arizona Suns
18          0  1610612757  ...      Terry Stotts                       No Affiliate
19          0  1610612758  ...       Luke Walton                     Stockton Kings
20          0  1610612759  ...    Gregg Popovich                       Austin Spurs
21          0  1610612760  ...     Billy Donovan                 Oklahoma City Blue
22          0  1610612761  ...        Nick Nurse                        Raptors 905
23          0  1610612762  ...       Quin Snyder               Salt Lake City Stars
24          0  1610612763  ...    Taylor Jenkins                     Memphis Hustle
25          0  1610612764  ...      Scott Brooks                 Capital City Go-Go
26          0  1610612765  ...       Dwane Casey                 Grand Rapids Drive
27          0  1610612766  ...     James Borrego                   Greensboro Swarm
28          0  1610612739  ...      John Beilein                      Canton Charge
29          0  1610612744  ...        Steve Kerr                Santa Cruz Warriors

[30 rows x 13 columns]

In [ ]:
url2 = 'https://github.com/KathyZhang-upenn/CIS550-Project-NBA/raw/master/players.csv'
players = pd.read_csv(url2)
players.isna().any().any()
# group_players = players.groupby(["TEAM_ID", "PLAYER_ID", "SEASON"])
# counts6 = group_players.size()
# print(counts6)
# (counts6 == 1).all()
players

           PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0        Royce O'Neale  1610612762    1626220    2019
1     Bojan Bogdanovic  1610612762     202711    2019
2          Rudy Gobert  1610612762     203497    2019
3     Donovan Mitchell  1610612762    1628378    2019
4          Mike Conley  1610612762     201144    2019
...                ...         ...        ...     ...
7223       Lanny Smith  1610612758     201831    2009
7224     Warren Carter  1610612752     201999    2009
7225      Bennet Davis  1610612751     201834    2009
7226    Brian Hamilton  1610612751     201646    2009
7227   Wesley Matthews  1610612762     500032    2009

[7228 rows x 4 columns]

In [ ]:
url3 = 'https://github.com/KathyZhang-upenn/CIS550-Project-NBA/raw/master/games.csv'
games = pd.read_csv(url3)
games = games.drop(columns=['GAME_STATUS_TEXT'])
games.isna().any().any()
# group_games = games.groupby(["GAME_ID"])
# counts5 = group_games.size()
# print(counts5)
# (counts5 == 1).all()
games

      GAME_DATE_EST   GAME_ID  HOME_TEAM_ID  ...  AST_away  REB_away  HOME_TEAM_WINS
0        2020-12-19  12000047    1610612753  ...      21.0      52.0               1
1        2020-12-19  12000048    1610612764  ...      18.0      51.0               1
2        2020-12-19  12000049    1610612763  ...      24.0      47.0               0
3        2020-12-18  12000039    1610612754  ...      23.0      48.0               0
4        2020-12-18  12000040    1610612761  ...      30.0      51.0               0
...             ...       ...           ...  ...       ...       ...             ...
23515    2014-10-06  11400007    1610612737  ...      17.0      43.0               1
23516    2014-10-06  11400004    1610612741  ...      17.0      47.0               0
23517    2014-10-06  11400005    1610612747  ...      19.0      43.0               1
23518    2014-10-05  11400002    1610612761  ...      18.0      45.0               1
23519    2014-10-04  11400001    1610612748  ...      19.0      42.0               0

[23520 rows x 20 columns]

In [ ]:
url4 = 'https://github.com/KathyZhang-upenn/CIS550-Project-NBA/raw/master/games_details.csv'
game_details = pd.read_csv(url4)
game_details = game_details.drop(columns=['COMMENT', 'START_POSITION'])
game_details = game_details.fillna(0)
game_details.isna().any().any()
# group_game_details = game_details.groupby(["GAME_ID", "PLAYER_ID"])
# counts4 = group_game_details.size()
# print(counts4)
# (counts4 == 1).all()
game_details

         GAME_ID     TEAM_ID TEAM_ABBREVIATION  ...   PF   PTS PLUS_MINUS
0       12000047  1610612766               CHA  ...  2.0   0.0      -31.0
1       12000047  1610612766               CHA  ...  3.0   9.0       -2.0
2       12000047  1610612766               CHA  ...  2.0  13.0      -23.0
3       12000047  1610612766               CHA  ...  0.0  25.0       -7.0
4       12000047  1610612766               CHA  ...  2.0  24.0       22.0
...          ...         ...               ...  ...  ...   ...        ...
585789  11200005  1610612743               DEN  ...  3.0  17.0        0.0
585790  11200005  1610612743               DEN  ...  3.0  18.0        0.0
585791  11200005  1610612743               DEN  ...  3.0   6.0        0.0
585792  11200005  1610612743               DEN  ...  2.0   2.0        0.0
585793  11200005  1610612743               DEN  ...  1.0   8.0        0.0

[585794 rows x 26 columns]

In [ ]:
url5 = 'https://github.com/KathyZhang-upenn/CIS550-Project-NBA/raw/master/ranking.csv'
ranking = pd.read_csv(url5)
ranking = ranking.drop(columns=['RETURNTOPLAY'])
ranking.isna().any().any()
# grouped_ranking = ranking.groupby(["TEAM_ID", "STANDINGSDATE"])
# counts3 = grouped_ranking.size()
# print(counts3)
# (counts3 == 1).all()
ranking

           TEAM_ID  LEAGUE_ID  SEASON_ID  ...  W_PCT HOME_RECORD ROAD_RECORD
0       1610612747          0      12020  ...  1.000         2-0         2-0
1       1610612762          0      12020  ...  1.000         2-0         1-0
2       1610612740          0      12020  ...  1.000         1-0         1-0
3       1610612745          0      12020  ...  0.750         2-0         1-1
4       1610612763          0      12020  ...  0.750         1-1         2-0
...            ...        ...        ...  ...    ...         ...         ...
188378  1610612765          0      22013  ...  0.354       17-24       12-29
188379  1610612738          0      22013  ...  0.305       16-25        9-32
188380  1610612753          0      22013  ...  0.280       19-22        4-37
188381  1610612755          0      22013  ...  0.232       10-31        9-32
188382  1610612749          0      22013  ...  0.183       10-31        5-36

[188383 rows x 12 columns]

In [ ]:
url6 = 'https://github.com/KathyZhang-upenn/CIS550-Project-NBA/raw/master/Seasons_Stats.csv'
season_stats = pd.read_csv(url6)
season_stats = season_stats.rename(columns={"Player": "PLAYER_NAME", "Tm": "TEAM", "Year": "YEAR", "Pos": "POSITION","Age": "AGE"})
season_stats = season_stats.drop(columns=['Unnamed: 0', 'blank2', 'blanl', '3PAr', 'ORB%', 'DRB%', 'TRB%','AST%','STL%','BLK%', 'TOV%','USG%', 'TS%', 'FTr', 'WS', 'WS/48', 'OBPM',	'DBPM',	'BPM', 'VORP'])
season_stats = season_stats[season_stats['YEAR'] > 1981.0] 
season_stats = season_stats.replace('\*','',regex=True)
season_stats = season_stats.fillna(0)
season_stats.isna().any().any()
season_stats['YEAR'] = season_stats["YEAR"].astype(int)
# grouped_season_stats = season_stats.groupby(["YEAR", "PLAYER_NAME", "TEAM", "POSITION"])
# counts = grouped_season_stats.size()
# print(counts)
# (counts == 1).all()
season_stats

       YEAR          PLAYER_NAME POSITION   AGE  ...    BLK    TOV     PF     PTS
6449   1982  Kareem Abdul-Jabbar        C  34.0  ...  207.0  230.0  224.0  1818.0
6450   1982          Alvan Adams        C  27.0  ...   78.0  196.0  269.0  1196.0
6451   1982         Mark Aguirre       SF  22.0  ...   22.0  135.0  152.0   955.0
6452   1982          Danny Ainge       SG  22.0  ...    3.0   53.0   86.0   219.0
6453   1982       Tiny Archibald       PG  33.0  ...    3.0  178.0  131.0   858.0
...     ...                  ...      ...   ...  ...    ...    ...    ...     ...
24686  2017          Cody Zeller       PF  24.0  ...   58.0   65.0  189.0   639.0
24687  2017         Tyler Zeller        C  27.0  ...   21.0   20.0   61.0   178.0
24688  2017    Stephen Zimmerman        C  20.0  ...    5.0    3.0   17.0    23.0
24689  2017          Paul Zipser       SF  22.0  ...   16.0   40.0   78.0   240.0
24690  2017          Ivica Zubac        C  19.0  ...   33.0   30.0   66.0   284.0

[18207 rows x 33 columns]

In [ ]:
url7 = 'https://github.com/KathyZhang-upenn/CIS550-Project-NBA/raw/master/NBA_Full_Salaries_2000-2019.csv'
salaries = pd.read_csv(url7)
salaries = salaries.rename(columns={"Name": "PLAYER_NAME", "Year": "YEAR", "Salaries": "SALARY", "Rank": "SEASON_RANK"})
salaries = salaries.drop(columns=['Unnamed: 0'])
salaries = salaries[salaries['YEAR'] > 2000] 
salaries = salaries[salaries['SALARY'].notna()]
salaries.isna().any().any()
# grouped_salaries = salaries.groupby(["YEAR", "PLAYER_NAME"])
# counts2 = grouped_salaries.size()
# print(counts2)
# (counts2 == 1).all()
salaries

            PLAYER_NAME  YEAR      SALARY  SEASON_RANK
1871   Shaquille O'Neal  2001  19285715.0            2
1872      Kevin Garnett  2001  19610000.0            1
1873    Alonzo Mourning  2001  16880000.0            3
1874       Juwan Howard  2001  16875000.0            4
1875     Scottie Pippen  2001  13750000.0           11
...                 ...   ...         ...          ...
37415       George King  2019     77250.0          487
37416      Drew Eubanks  2019     77250.0          487
37417       Jordan Loyd  2019     77250.0          487
37418    Wenyen Gabriel  2019     75000.0          512
37419         Nuni Omot  2019     20000.0          513

[9202 rows x 4 columns]

In [ ]:
teams.to_csv("teams.csv", index=False)
games.to_csv("games.csv", index=False)
players.to_csv("players.csv", index=False)
game_details.to_csv("game_details.csv", index=False)
ranking.to_csv("ranking.csv", index=False)
season_stats.to_csv("season_stats.csv", index=False)
salaries.to_csv("salaries.csv", index=False)

# from google.colab import files
# files.download("teams.csv")
# files.download("games.csv")
# files.download("players.csv")
# files.download("game_details.csv")
# files.download("ranking.csv")
# files.download("season_stats.csv")
# files.download("salaries.csv")